html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  display: inline-block;

  text-decoration: none;
  color: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  min-width: px-to-rem(320px);

  color: $black;

  font-family: "Montserrat Regular", sans-serif;
  font-size: $base-size;
  line-height: 1.2;

  background-color: #fff;

}

.container {
  max-width: px-to-rem(1248px);
  margin: 0 auto;
  padding: 0 px-to-rem(24px) 0 px-to-rem(24px);
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;

  width: px-to-rem(35px);
  height: px-to-rem(35px);

  background: #aad1cb;
  border-radius: 50%;

  &:focus {
    outline: none;
  }

  &.swiper-button-disabled {
    path {
      fill: #919b99;
    }
  }

  &::after {
    display: none;
  }
}

.swiper-button-prev {
  left: px-to-rem(42px);

  transform: rotate(-180deg);

  @media screen and (max-width: 599px) {
    left: 0
  }

  @media screen and (max-width: 359px) {
    display: none;
  }
}

.swiper-button-next {
  right: px-to-rem(42px);

  @media screen and (max-width: 599px) {
    right: 0
  }

  @media screen and (max-width: 359px) {
    display: none;
  }
}

.swiper-button-icon {
  width: px-to-rem(29px);
  height: px-to-rem(29px);
}

.toastify {
  @media screen and (max-width: 413px) {
    max-width: px-to-rem(300px);

    font-size: px-to-rem(14px);
  }
}
