html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  display: inline-block;

  text-decoration: none;
  color: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  min-width: px-to-rem(320px);

  color: #2d2b2b;

  font-family: "Montserrat Regular", sans-serif;
  font-size: $base-size;
  line-height: 1.2;

  background-color: #fff;

  overflow: hidden;
}

.container {
  max-width: px-to-rem(1200px);
  margin: 0 auto;
}
