html {
  //margin-left: calc(100vw - 100%);

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  display: inline-block;

  text-decoration: none;
  color: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  color: #2d2b2b;

  font-family: "Montserrat Regular", sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
