.examples {
  position: relative;
  padding: px-to-rem(26px) 0 px-to-rem(80px);

  background: url("../images/examples-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  &::before {
    content: "";
    position: absolute;
    top: 0;

    width: 68%;
    height: 100%;

    background: url("../images/examples-bg-2.png") no-repeat center;
    background-size: cover;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    max-width: px-to-rem(432px);
    margin-left: px-to-rem(64px);

    @include curly-header;

    text-align: right;

    &::after {
      content: url("../images/examples-curl.png");
      position: absolute;
      top: -105px;
      left: -166px;

      z-index: 2;
    }
  }

  &__title-word {
    display: inline-block;

    transform: translateX(px-to-rem(18px));
  }

  &__images {
    display: flex;
    justify-content: center;

    width: px-to-rem(433px);
  }

  &__slider {
    display: flex;
    width: px-to-rem(291px);
    height: px-to-rem(583px);

    margin: 0 auto;

    background: url("https://i.postimg.cc/BZgcjsmX/examples-img-wrapper.png") no-repeat center;
  }

  &__slider-item {
    display: flex !important;
    height: px-to-rem(583px);
    align-items: center;
    justify-content: center;
  }

  &__slider-img {
    max-width: 100%;
    height: auto;

    object-fit: cover;
  }

  .slider-arrow {
    &__prev {
      left: px-to-rem(-68px);
    }

    &__next {
      right: px-to-rem(-68px);
    }
  }
}
