.examples {
  position: relative;
  padding: px-to-rem(26px) 0 px-to-rem(80px);

  background: url("../images/examples-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  &::before {
    content: "";
    position: absolute;
    top: 0;

    width: 68%;
    height: 100%;

    background: url("../images/examples-bg-2.png") no-repeat center;
    background-size: cover;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    max-width: px-to-rem(432px);
    margin-left: px-to-rem(64px);

    @include curly-header;

    text-align: right;

    &::after {
      content: url("../images/examples-curl.png");
      position: absolute;
      top: -105px;
      left: -166px;

      z-index: 2;
    }
  }

  &__title-word {
    display: inline-block;

    transform: translateX(px-to-rem(18px));
  }

  .swiper-container {
    max-width: px-to-rem(434px);
    height: px-to-rem(581px);

    background: url("../images/examples-img-wrapper.png") no-repeat center;
    background-size: contain;
  }

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    width: px-to-rem(255px);
    height: px-to-rem(553px);

    background-position: center center;
    background-repeat: no-repeat;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: px-to-rem(40px);
    height: px-to-rem(40px);

    margin-top: 0;

    background-color: #a5d6cd;
    border-radius: 50%;

    &::after {
      display: none;
    }

    &.swiper-button-disabled {
      .swiper-button__icon {
        path {
          fill: #8ab1aa;
        }
      }

      opacity: 1;
    }
  }

  .swiper-button__icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .swiper-button-prev {
    left: 0;

    transform: rotate(180deg);
  }

  .swiper-button-next {
    right: 0;
  }
}
