.footer {
  position: relative;
  padding: px-to-rem(80px) 0 px-to-rem(34px);

  background-color: #b7ded7;

  &::before {
    content: "";
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: #acd9d1;
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 0% 100%);
  }

  &__inner {
    position: relative;

    display: flex;
    align-items: baseline;
    justify-content: space-between;

    color: #fff;
  }

  &__info {
    &--left {
      max-width: px-to-rem(354px);
    }

    &--right {
      max-width: px-to-rem(498px);
    }
  }

  &__paragraph, &__link, &__copyright {
    line-height: 1.875;
  }
}
