.know-more {
  position: relative;

  padding: px-to-rem(34px) 0;

  background: url("../images/know-more-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  z-index: 1;

  &::before, &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: px-to-rem(34px);

    background: #fff;

    z-index: 2;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &__form {
    position: relative;
    padding: px-to-rem(42px) px-to-rem(56px) px-to-rem(46px);
    margin: px-to-rem(-34px) px-to-rem(0px);
    width: px-to-rem(418px);

    color: #f5fbfb;

    background: #a5d6cd;

    z-index: 3;

    .form__title {
      display: inline-block;
      max-width: px-to-rem(218px);
      margin-bottom: px-to-rem(8px);


      font-family: "Montserrat SemiBold", sans-serif;
      font-size: px-to-rem(24px);
      line-height: 1.5;
      text-transform: uppercase;
    }

    .form__subtitle {
      margin-bottom: px-to-rem(14px);

      font-family: "Montserrat Medium", sans-serif;
      font-size: px-to-rem(18px);
      line-height: 1.333;
    }

    .form__form-group {
      margin-bottom: px-to-rem(24px);
    }

    .form__input, .form__btn {
      width: 100%;
      padding: px-to-rem(10px) px-to-rem(25px);

      font-size: px-to-rem(18px);
      line-height: 1.333;

      border: none;
      border-radius: px-to-rem(23.5px);
    }

    .form__input {
      &::placeholder {
        color: #86aca4;
      }
    }

    .form__btn {
      color: #f5fbfb;
      background-color: #86aca4;

      transition: background-color .3s;

      &:hover, &:focus {
        background-color: darken(#86aca4, 30%);
      }
    }
  }
}
