@import "normalize.css";
@font-face {
  font-family: "Caveat Regular";
  font-weight: 400;
  src: url("../fonts/Caveat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Caveat Bold";
  font-weight: 700;
  src: url("../fonts/Caveat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "CaveatBrush Regular";
  font-weight: 400;
  src: url("../fonts/CaveatBrush-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat Thin";
  font-weight: 100;
  src: url("../fonts/Montserrat-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat Thin Italic";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/Montserrat-ThinItalic.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat ExtraLight";
  font-weight: 200;
  src: url("../fonts/Montserrat-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat ExtraLight Italic";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/Montserrat-ExtraLightItalic.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat Light";
  font-weight: 300;
  src: url("../fonts/Montserrat-Light.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat Light Italic";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Montserrat-LightItalic.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat Regular";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat Italic";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Montserrat-Italic.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat Medium";
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat Medium Italic";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Montserrat-MediumItalic.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat SemiBold";
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat SemiBold Italic";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Montserrat-SemiBoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat Bold";
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat Bold Italic";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Montserrat-BoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat ExtraBold";
  font-weight: 800;
  src: url("../fonts/Montserrat-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat ExtraBold Italic";
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/Montserrat-ExtraBoldItalic.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat Black";
  font-weight: 900;
  src: url("../fonts/Montserrat-Black.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat Black Italic";
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/Montserrat-BlackItalic.otf") format("opentype");
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  outline: none;
}

body {
  min-width: 20rem;
  color: #2d2b2b;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  background-color: #fff;
}

.container {
  max-width: 78rem;
  margin: 0 auto;
  padding: 0 1.5rem 0 1.5rem;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.1875rem;
  height: 2.1875rem;
  background: #aad1cb;
  border-radius: 50%;
}
.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none;
}
.swiper-button-prev.swiper-button-disabled path,
.swiper-button-next.swiper-button-disabled path {
  fill: #919b99;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  left: 2.625rem;
  transform: rotate(-180deg);
}
@media screen and (max-width: 599px) {
  .swiper-button-prev {
    left: 0;
  }
}
@media screen and (max-width: 359px) {
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-next {
  right: 2.625rem;
}
@media screen and (max-width: 599px) {
  .swiper-button-next {
    right: 0;
  }
}
@media screen and (max-width: 359px) {
  .swiper-button-next {
    display: none;
  }
}

.swiper-button-icon {
  width: 1.8125rem;
  height: 1.8125rem;
}

@media screen and (max-width: 413px) {
  .toastify {
    max-width: 18.75rem;
    font-size: 0.875rem;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  background-color: #a3d3ca;
  transition: all 0.3s ease;
  z-index: 100;
}
.header.hide {
  transform: translateY(-100%);
}
@media screen and (max-width: 599px) {
  .header {
    height: 52px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4.5rem;
}
@media screen and (max-width: 599px) {
  .header__inner {
    min-height: 3.25rem;
  }
}
.header__logo {
  display: block;
  width: 3.125rem;
  height: 3.125rem;
}
@media screen and (max-width: 599px) {
  .header__logo {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media screen and (max-width: 599px) {
  .header__logo-img {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.header__nav {
  flex-grow: 1;
  padding: 0 1.5rem;
}
@media screen and (max-width: 1199px) {
  .header__nav {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .header__nav::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (max-width: 599px) {
  .header__nav {
    padding: 0 0.75rem;
  }
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
@media screen and (max-width: 1079px) {
  .header__nav-list {
    width: 48.125rem;
    padding: 0;
  }
}
.header__nav-item {
  max-width: 6.25rem;
  padding: 0 0.625rem;
  font-size: 0.875rem;
  text-align: center;
}
@media screen and (max-width: 599px) {
  .header__nav-item {
    font-size: 0.75rem;
  }
}
.header__nav-link:hover {
  text-decoration: underline;
}
.header__feedback-btn {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.375rem;
  font-size: 0.875rem;
  white-space: nowrap;
  background: #fff;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-shadow: 0 1px 2.97px 0.03px rgba(136, 172, 164, 0.004), inset 0 4px 8.46px 0.54px rgba(194, 240, 231, 0.68);
  transition: all 0.3s;
}
@media screen and (max-width: 599px) {
  .header__feedback-btn {
    font-size: 0.75rem;
  }
}
.header__feedback-btn:hover, .header__feedback-btn:focus {
  border-color: #fff;
}
.header__feedback-btn .btn__icon {
  margin-right: 0.25rem;
}

.intro {
  padding: 7.25rem 0 6.1875rem;
  text-align: center;
  background: url("../images/blocks/intro/intro-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 1023px) {
  .intro {
    background-attachment: scroll;
    background-position-x: 25%;
  }
}
@media screen and (max-width: 599px) {
  .intro {
    padding: 5.75rem 0 4rem;
  }
}
.intro__img-wrapper {
  margin: 0 auto 1.875rem;
}
@media screen and (max-width: 599px) {
  .intro__img-wrapper {
    width: 10.5rem;
    height: 10.5rem;
  }
}
.intro__img {
  max-width: 100%;
  height: auto;
}
.intro__title {
  max-width: 51.5rem;
  margin: 0 auto 2.25rem;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 2.5rem;
}
@media screen and (max-width: 599px) {
  .intro__title {
    max-width: 25rem;
    margin-bottom: 2.75rem;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 413px) {
  .intro__title {
    max-width: 14.875rem;
  }
}
.intro__description {
  position: relative;
  max-width: 37.5rem;
  margin: 0 auto 2.25rem;
  font-size: 1.25rem;
  line-height: 1.75;
}
@media screen and (max-width: 599px) {
  .intro__description {
    max-width: 25rem;
    margin-bottom: 4.5rem;
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 413px) {
  .intro__description {
    max-width: 17.375rem;
  }
}
.intro__description:before {
  content: "";
  position: absolute;
  left: -4.8125rem;
  top: 50%;
  width: 3.875rem;
  height: 3.5625rem;
  background: url("../images/figures/rise-icon.png") no-repeat center;
  transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .intro__description:before {
    display: none;
  }
}
.intro__btn {
  position: relative;
  width: 19rem;
  height: 3rem;
  color: #fff;
  font-family: "Montserrat Medium", sans-serif;
  line-height: 3rem;
  border: none;
  border-radius: 1.5rem;
  background-image: linear-gradient(90deg, #86aca4 0%, #96c1b9 30%, #a5d6cd 100%);
  box-shadow: inset 0 4px 8.46px 0.54px rgba(194, 240, 231, 0.68);
  outline: none;
  transition: all 0.3s;
}
@media screen and (max-width: 599px) {
  .intro__btn {
    width: 14.25rem;
    height: 2.5rem;
    font-size: 0.875rem;
    line-height: 2.5rem;
  }
}
.intro__btn:hover, .intro__btn:focus {
  background-image: linear-gradient(90deg, #86aca4 0%, #86aca4 100%);
  box-shadow: none;
}

.advantages {
  padding: 1.5rem 0 2.375rem;
  text-align: center;
}
@media screen and (max-width: 413px) {
  .advantages {
    padding: 2.875rem 0;
  }
}
.advantages__inner {
  position: relative;
  padding: 0 5.6875rem;
}
.advantages__inner::before, .advantages__inner::after {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.advantages__inner::before {
  content: url("../images/zoom-text-left.png");
  left: -2.5rem;
}
@media screen and (max-width: 1279px) {
  .advantages__inner::before {
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .advantages__inner::before {
    content: url("../images/zoom-text-left-small.png");
    left: -0.9375rem;
  }
}
.advantages__inner::after {
  content: url("../images/zoom-text-right.png");
  right: -2.5rem;
}
@media screen and (max-width: 1279px) {
  .advantages__inner::after {
    right: 0;
  }
}
@media screen and (max-width: 767px) {
  .advantages__inner::after {
    content: url("../images/zoom-text-right-small.png");
    right: -0.9375rem;
  }
}
@media screen and (max-width: 767px) {
  .advantages__inner {
    padding: 0 2.25rem;
  }
  .advantages__inner::before {
    content: url("../images/zoom-text-left-small-3.png");
  }
  .advantages__inner::after {
    content: url("../images/zoom-text-right-small-3.png");
  }
}
.advantages__inner-top {
  margin-bottom: 3.375rem;
}
.advantages__title {
  position: relative;
  display: inline-block;
  margin-bottom: 2.8125rem;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 1.875rem;
}
@media screen and (max-width: 599px) {
  .advantages__title {
    margin-bottom: 1.5625rem;
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 413px) {
  .advantages__title {
    font-size: 1rem;
  }
}
.advantages__title::after {
  content: "";
  position: absolute;
  left: 50%;
  height: 0.125rem;
  width: 69%;
  background-color: #2d2b2b;
  transform: translate(-50%, 0);
}
.advantages__title--top::after {
  bottom: -0.625rem;
}
.advantages__title--bottom::after {
  top: -0.875rem;
}
.advantages__instagram {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 1199px) {
  .advantages__instagram {
    flex-direction: column;
    align-items: center;
  }
}
.advantages__instagram-img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 1199px) {
  .advantages__instagram-img {
    margin-bottom: 2.625rem;
  }
}
@media screen and (max-width: 767px) {
  .advantages__instagram-img {
    max-width: 19.1875rem;
  }
}
@media screen and (max-width: 599px) {
  .advantages__instagram-img {
    max-width: 13.0625rem;
  }
}
.advantages__instagram-list {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.625rem;
  column-gap: 6.25rem;
}
@media screen and (max-width: 1199px) {
  .advantages__instagram-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .advantages__instagram-list {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .advantages__instagram-item {
    width: 100%;
  }
}
.advantages__instagram-item:first-child .inst-advantage__img {
  left: 2.25rem;
}
@media screen and (max-width: 767px) {
  .advantages__instagram-item:first-child .inst-advantage__img {
    left: 1.875rem;
  }
}
@media screen and (max-width: 479px) {
  .advantages__instagram-item:first-child .inst-advantage__img {
    left: 1rem;
  }
}
.advantages__instagram-item:last-child .inst-advantage__img {
  left: 3.5rem;
}
@media screen and (max-width: 767px) {
  .advantages__instagram-item:last-child .inst-advantage__img {
    left: 1.875rem;
  }
}
@media screen and (max-width: 479px) {
  .advantages__instagram-item:last-child .inst-advantage__img {
    left: 1rem;
  }
}
.advantages__instagram-item:nth-child(odd) {
  grid-row: 2;
}
.advantages__instagram-item:nth-child(even) {
  grid-column: auto/span 2;
}
.advantages__instagram-item:nth-child(even) .inst-advantage {
  margin: 0 auto;
}
.advantages__why-list {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
@media screen and (max-width: 1199px) {
  .advantages__why-list {
    padding: 0;
  }
}
@media screen and (max-width: 961px) {
  .advantages__why-list {
    flex-direction: column;
  }
}

.inst-advantage {
  max-width: 13.5rem;
}
@media screen and (max-width: 767px) {
  .inst-advantage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: initial;
  }
}
@media screen and (max-width: 479px) {
  .inst-advantage {
    justify-content: space-between;
  }
}
@media screen and (max-width: 359px) {
  .inst-advantage {
    flex-direction: column;
  }
}
.inst-advantage__top {
  position: relative;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .inst-advantage__top {
    width: 9.375rem;
  }
}
@media screen and (max-width: 599px) {
  .inst-advantage__top {
    width: 4.375rem;
  }
}
.inst-advantage__header {
  color: rgba(134, 172, 165, 0.5);
  font-family: "Montserrat Bold", sans-serif;
  font-size: 9.375rem;
  line-height: 1;
}
@media screen and (max-width: 599px) {
  .inst-advantage__header {
    font-size: 7rem;
  }
}
@media screen and (max-width: 479px) {
  .inst-advantage__header {
    font-size: 4.75rem;
  }
}
.inst-advantage__img {
  position: absolute;
  top: 50%;
  left: 3.875rem;
  width: 5.75rem;
  height: 5.75rem;
  transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .inst-advantage__img {
    left: 1.875rem;
  }
}
@media screen and (max-width: 599px) {
  .inst-advantage__img {
    width: 4.375rem;
    height: 4.375rem;
  }
}
@media screen and (max-width: 479px) {
  .inst-advantage__img {
    left: 1rem;
    width: 3.0625rem;
    height: 3.0625rem;
  }
}
.inst-advantage__text {
  font-family: "Montserrat Medium", sans-serif;
  font-size: 0.9375rem;
}
@media screen and (max-width: 767px) {
  .inst-advantage__text {
    max-width: 21.875rem;
  }
}
@media screen and (max-width: 599px) {
  .inst-advantage__text {
    max-width: 15rem;
  }
}
@media screen and (max-width: 479px) {
  .inst-advantage__text {
    max-width: 13.75rem;
  }
}
@media screen and (max-width: 413px) {
  .inst-advantage__text {
    max-width: 10.9375rem;
    font-size: 0.75rem;
  }
}

.why-item {
  position: relative;
  width: 12.5rem;
  text-align: left;
}
@media screen and (max-width: 961px) {
  .why-item {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.why-item:nth-of-type(2), .why-item:nth-of-type(3) {
  margin-top: 5.875rem;
}
@media screen and (max-width: 961px) {
  .why-item:nth-of-type(2), .why-item:nth-of-type(3) {
    margin-top: 0;
  }
}
@media screen and (max-width: 961px) {
  .why-item:nth-of-type(2) {
    order: 2;
  }
}
@media screen and (max-width: 961px) {
  .why-item:nth-of-type(3) {
    order: 1;
  }
  .why-item:nth-of-type(3) .why-item__img {
    right: 0;
    left: initial;
  }
  .why-item:nth-of-type(3) .why-item__text {
    margin-left: auto;
    text-align: right;
  }
}
@media screen and (max-width: 961px) {
  .why-item:last-child {
    order: 3;
  }
  .why-item:last-child .why-item__img {
    right: 0;
    left: initial;
  }
  .why-item:last-child .why-item__text {
    margin-left: auto;
    text-align: right;
  }
}
.why-item.why-item--right {
  text-align: right;
}
.why-item.why-item--right .why-item__img {
  right: 0;
  left: initial;
}
.why-item__img {
  position: absolute;
  left: 0;
  max-width: 100%;
  z-index: -1;
}
.why-item__text {
  padding-top: 5rem;
  font-size: 0.9375rem;
  font-family: "Montserrat Medium", sans-serif;
}
@media screen and (max-width: 961px) {
  .why-item__text {
    max-width: 25rem;
  }
}
@media screen and (max-width: 599px) {
  .why-item__text {
    max-width: 12.5rem;
  }
}
@media screen and (max-width: 413px) {
  .why-item__text {
    font-size: 0.75rem;
  }
}
.why-item__number {
  font-family: "Montserrat Bold", sans-serif;
}

.time-stats {
  background: linear-gradient(rgba(165, 214, 205, 0.8), rgba(165, 214, 205, 0.8)), url("../images/blocks/time-stats/time-stats-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 1023px) {
  .time-stats {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 767px) {
  .time-stats {
    padding: 4rem 0;
  }
}
.time-stats__inner {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .time-stats__inner {
    justify-content: space-around;
  }
}
@media screen and (max-width: 767px) {
  .time-stats__inner {
    flex-direction: column;
  }
}
.time-stats__title {
  max-width: 18.625rem;
  margin-right: 6.5625rem;
  position: relative;
  color: #fff;
  font-family: "Montserrat Black", sans-serif;
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: 0.764;
}
@media screen and (max-width: 599px) {
  .time-stats__title {
    font-size: 3.125rem;
  }
}
@media screen and (max-width: 767px) {
  .time-stats__title {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 339px) {
  .time-stats__title {
    transform: translateX(-10px);
  }
}
.time-stats__title::after {
  content: url("../images/figures/time-stats-curl.png");
  position: absolute;
  top: -2.5rem;
  left: 1.3125rem;
  z-index: 2;
}
@media screen and (max-width: 599px) {
  .time-stats__title::after {
    content: url("../images/figures/time-stats-curl-small.png");
    top: -1.6875rem;
    left: 0.875rem;
    overflow: hidden;
  }
}
.time-stats__content {
  display: flex;
  justify-content: space-between;
  padding: 6.5625rem 0;
}
@media screen and (max-width: 1199px) {
  .time-stats__content {
    flex-direction: column;
    padding: 3.4375rem 0;
  }
}
@media screen and (max-width: 767px) {
  .time-stats__content {
    padding: 0;
  }
}
.time-stats__item {
  max-width: 17rem;
}
@media screen and (max-width: 359px) {
  .time-stats__item {
    max-width: 15.5rem;
  }
}
.time-stats__item:first-child .time-stats__text--bottom {
  max-width: 11.375rem;
  transform: translate(0.625rem, -1.625rem);
}
@media screen and (max-width: 1199px) {
  .time-stats__item:first-child .time-stats__text--bottom {
    transform: translate(-2.875rem, -1.625rem);
  }
}
@media screen and (max-width: 359px) {
  .time-stats__item:first-child .time-stats__text--bottom {
    transform: translate(-1.375rem, -1.625rem);
  }
}
.time-stats__item:nth-of-type(2) {
  margin-top: 7.75rem;
}
.time-stats__item:nth-of-type(2) .time-stats__text--bottom {
  transform: translate(-0.625rem, -1.625rem);
}
@media screen and (max-width: 359px) {
  .time-stats__item:nth-of-type(2) .time-stats__text--bottom {
    transform: translate(0.5rem, -1.625rem);
  }
}
@media screen and (max-width: 1199px) {
  .time-stats__item:nth-of-type(2) {
    margin-top: 0;
    transform: translateX(22px);
  }
}
.time-stats__item:last-child .time-stats__text--bottom {
  max-width: 9.375rem;
  transform: translate(-2.875rem, -1.625rem);
}
@media screen and (max-width: 359px) {
  .time-stats__item:last-child .time-stats__text--bottom {
    transform: translate(-1.5rem, -1.625rem);
  }
}
.time-stats__number {
  color: rgba(124, 161, 150, 0.8);
  font-family: "Montserrat Black", sans-serif;
  font-size: 4.5rem;
}
.time-stats__text {
  color: #fff;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 0.9375rem;
}
.time-stats__text--top {
  transform: translate(-1.5625rem, 1.625rem);
}
.time-stats__text--bottom {
  margin-left: auto;
  text-align: right;
}

.services {
  padding: 3.75rem 0 6.25rem;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .services {
    padding: 1.375rem 0 3.75rem;
  }
}
.services__inner {
  position: relative;
}
.services__inner::before, .services__inner::after {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.services__inner::before {
  content: url("../images/zoom-text-left.png");
  left: -2.5rem;
}
@media screen and (max-width: 1279px) {
  .services__inner::before {
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .services__inner::before {
    content: url("../images/zoom-text-left-small.png");
    left: -0.9375rem;
  }
}
.services__inner::after {
  content: url("../images/zoom-text-right.png");
  right: -2.5rem;
}
@media screen and (max-width: 1279px) {
  .services__inner::after {
    right: 0;
  }
}
@media screen and (max-width: 767px) {
  .services__inner::after {
    content: url("../images/zoom-text-right-small.png");
    right: -0.9375rem;
  }
}
@media screen and (max-width: 767px) {
  .services__inner::before {
    content: url("../images/zoom-text-left-small-2.png");
  }
}
@media screen and (max-width: 767px) {
  .services__inner::after {
    content: url("../images/zoom-text-right-small-2.png");
  }
}
.services__title {
  position: relative;
  display: inline-block;
  margin-bottom: 4.0625rem;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 1.875rem;
}
@media screen and (max-width: 599px) {
  .services__title {
    margin-bottom: 3.125rem;
    font-size: 1.375rem;
  }
}
@media screen and (max-width: 413px) {
  .services__title {
    font-size: 1rem;
  }
}
.services__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.625rem;
  height: 0.125rem;
  width: 84%;
  background-color: #2d2b2b;
  transform: translate(-50%, 0);
}
.services__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 6.25rem;
  margin-bottom: 0.625rem;
}
@media screen and (max-width: 962px) {
  .services__list {
    padding: 0 4.375rem;
  }
}
@media screen and (max-width: 767px) {
  .services__list {
    justify-content: center;
    padding: 0 2.8125rem;
  }
}
@media screen and (max-width: 360px) {
  .services__list {
    padding: 0 2.375rem;
  }
}
.services__item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 18.75rem;
  min-height: 13.125rem;
  padding: 2.875rem 1.5rem 1.5625rem;
  margin-bottom: 3.125rem;
  color: #f5fbfb;
  border-radius: 0.625rem;
  background-image: -moz-linear-gradient(-90deg, #86aca4 0%, #96c1b9 30%, #a5d6cd 100%);
  background-image: -webkit-linear-gradient(-90deg, #86aca4 0%, #96c1b9 30%, #a5d6cd 100%);
  background-image: -ms-linear-gradient(-90deg, #86aca4 0%, #96c1b9 30%, #a5d6cd 100%);
  box-shadow: 0 1px 8.64px 0.36px rgba(158, 199, 190, 0.004), inset 0 4px 8.46px 0.54px rgba(194, 240, 231, 0.68);
}
@media screen and (max-width: 1199px) {
  .services__item {
    flex-basis: 46%;
  }
}
@media screen and (max-width: 767px) {
  .services__item {
    flex-basis: 80%;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 599px) {
  .services__item {
    padding: 2rem 1rem 0.875rem;
  }
}
@media screen and (max-width: 413px) {
  .services__item {
    flex-basis: 100%;
    min-height: 8.75rem;
  }
}
.services__item-img-wrapper {
  position: absolute;
  top: -1.875rem;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #f5fbfb;
  border-radius: 50%;
  box-shadow: 1.169px 3.825px 5px 0 rgba(0, 0, 0, 0.15);
  z-index: 2;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 599px) {
  .services__item-img-wrapper {
    top: -1.375rem;
    width: 2.75rem;
    height: 2.75rem;
  }
}
.services__item-img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 599px) {
  .services__item-img {
    max-width: 1.875rem;
    max-height: 1.875rem;
    object-fit: contain;
  }
}
.services__item-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  font-family: "Montserrat Medium", sans-serif;
  font-size: 1.25rem;
  line-height: 1;
}
@media screen and (max-width: 599px) {
  .services__item-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 413px) {
  .services__item-text {
    align-items: baseline;
    font-size: 0.875rem;
  }
}
.services__item-price {
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 2.25rem;
}
@media screen and (max-width: 599px) {
  .services__item-price {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 413px) {
  .services__item-price {
    font-size: 1.5rem;
  }
}
.services__about-text {
  display: inline-block;
  max-width: 39.75rem;
}
@media screen and (max-width: 599px) {
  .services__about-text {
    max-width: 13.875rem;
    font-size: 0.75rem;
  }
}

.examples {
  position: relative;
  padding: 1.625rem 0 5rem;
  background: url("../images/blocks/examples/examples-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 1199px) {
  .examples {
    padding-top: 7.125rem;
  }
}
@media screen and (max-width: 1023px) {
  .examples {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 599px) {
  .examples {
    padding: 4.1875rem 0 3.875rem;
  }
}
.examples::before {
  content: "";
  position: absolute;
  top: 0;
  width: 68%;
  height: 100%;
  background: url("../images/blocks/examples/examples-bg-2.png") no-repeat center;
  background-size: 100% 100%;
}
.examples__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  .examples__inner {
    flex-direction: column;
  }
}
@media screen and (max-width: 599px) {
  .examples__inner {
    align-items: baseline;
  }
}
.examples__title {
  max-width: 27rem;
  margin-left: 4rem;
  position: relative;
  color: #fff;
  font-family: "Montserrat Black", sans-serif;
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: 0.764;
  text-align: right;
}
@media screen and (max-width: 599px) {
  .examples__title {
    font-size: 3.125rem;
  }
}
@media screen and (max-width: 1199px) {
  .examples__title {
    margin-bottom: 3.75rem;
  }
}
@media screen and (max-width: 767px) {
  .examples__title {
    margin-left: 0;
  }
}
@media screen and (max-width: 599px) {
  .examples__title {
    max-width: 12.75rem;
    margin-bottom: 1.875rem;
    font-size: 2.1875rem;
  }
}
.examples__title::after {
  content: url("../images/figures/examples-curl.png");
  position: absolute;
  top: -6.5625rem;
  left: -10.375rem;
  z-index: 2;
}
@media screen and (max-width: 599px) {
  .examples__title::after {
    content: url("../images/blocks/examples/figures/examples-curl-small.png");
    top: -2.4375rem;
    left: -1.5625rem;
  }
}
@media screen and (max-width: 359px) {
  .examples__title::after {
    width: 20rem;
    overflow: hidden;
  }
}
.examples__title-word {
  display: inline-block;
  transform: translateX(1.125rem);
}
@media screen and (max-width: 599px) {
  .examples__title-word {
    transform: none;
  }
}
.examples__slider.swiper-container {
  width: 31.25rem;
  height: 36.4375rem;
}
@media screen and (max-width: 599px) {
  .examples__slider.swiper-container {
    width: 20.625rem;
    height: 29.0625rem;
  }
}
@media screen and (max-width: 413px) {
  .examples__slider.swiper-container {
    width: 100%;
  }
}
.examples__slider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/blocks/examples/examples-img-wrapper.png") no-repeat center;
}
@media screen and (max-width: 599px) {
  .examples__slider .swiper-slide {
    background-size: 14.5625rem 100%;
  }
}
.examples__slider .swiper-image {
  max-width: 15.9375rem;
  height: auto;
  border-radius: 1.9375rem;
  object-fit: cover;
}
@media screen and (max-width: 599px) {
  .examples__slider .swiper-image {
    max-width: 12.75rem;
    border-radius: 1.4375rem;
  }
}

.visual {
  padding: 3.4375rem 0 7.25rem;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .visual {
    padding: 9.375rem 0;
  }
}
@media screen and (max-width: 767px) {
  .visual {
    padding: 4.6875rem 0;
  }
}
@media screen and (max-width: 599px) {
  .visual {
    padding: 3.125rem 0;
  }
}
.visual__inner {
  position: relative;
}
.visual__inner::before, .visual__inner::after {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.visual__inner::before {
  content: url("../images/zoom-text-left.png");
  left: -2.5rem;
}
@media screen and (max-width: 1279px) {
  .visual__inner::before {
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .visual__inner::before {
    content: url("../images/zoom-text-left-small.png");
    left: -0.9375rem;
  }
}
.visual__inner::after {
  content: url("../images/zoom-text-right.png");
  right: -2.5rem;
}
@media screen and (max-width: 1279px) {
  .visual__inner::after {
    right: 0;
  }
}
@media screen and (max-width: 767px) {
  .visual__inner::after {
    content: url("../images/zoom-text-right-small.png");
    right: -0.9375rem;
  }
}
@media screen and (max-width: 1279px) {
  .visual__inner {
    padding: 0 4.5rem;
  }
}
@media screen and (max-width: 767px) {
  .visual__inner {
    padding: 0 1.375rem;
  }
  .visual__inner::before {
    content: url("../images/zoom-text-left-small-4.png");
  }
  .visual__inner::after {
    content: url("../images/zoom-text-right-small-4.png");
  }
}
@media screen and (max-width: 479px) {
  .visual__inner {
    padding: 0 0.75rem;
  }
}
.visual__title {
  position: relative;
  display: inline-block;
  margin-bottom: 4.625rem;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 1.875rem;
}
@media screen and (max-width: 599px) {
  .visual__title {
    margin-bottom: 3.25rem;
    font-size: 1.375rem;
  }
}
@media screen and (max-width: 413px) {
  .visual__title {
    font-size: 1rem;
  }
}
.visual__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.625rem;
  height: 0.125rem;
  width: 84%;
  background-color: #2d2b2b;
  transform: translate(-50%, 0);
}
.visual__slider.swiper-container {
  width: 100%;
}
.visual__slider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.visual__slider .swiper-image {
  max-width: 60rem;
  height: auto;
  border: 20px solid #a5d6cd;
  object-fit: cover;
}
@media screen and (max-width: 1279px) {
  .visual__slider .swiper-image {
    max-width: 40rem;
  }
}
@media screen and (max-width: 961px) {
  .visual__slider .swiper-image {
    max-width: 35rem;
    border-width: 0.75rem;
  }
}
@media screen and (max-width: 767px) {
  .visual__slider .swiper-image {
    max-width: 29.9375rem;
  }
}
@media screen and (max-width: 599px) {
  .visual__slider .swiper-image {
    max-width: 24rem;
    border-width: 0.375rem;
  }
}
@media screen and (max-width: 489px) {
  .visual__slider .swiper-image {
    max-width: 16.875rem;
  }
}
@media screen and (max-width: 359px) {
  .visual__slider .swiper-image {
    max-width: 14.75rem;
  }
}
.visual__slider .swiper-button-prev {
  left: 1.5rem;
}
@media screen and (max-width: 1023px) {
  .visual__slider .swiper-button-prev {
    left: 0;
  }
}
@media screen and (max-width: 961px) {
  .visual__slider .swiper-button-prev {
    display: none;
  }
}
.visual__slider .swiper-button-next {
  right: 1.5rem;
}
@media screen and (max-width: 1023px) {
  .visual__slider .swiper-button-next {
    right: 0;
  }
}
@media screen and (max-width: 961px) {
  .visual__slider .swiper-button-next {
    display: none;
  }
}

.stats {
  position: relative;
  padding: 9.5rem 0 8.875rem;
  background: url("../images/blocks/stats/white-ceramic-mug-on-white-table.jpeg") no-repeat center;
  background-size: cover;
}
@media screen and (max-width: 599px) {
  .stats {
    padding: 3rem 0 3.625rem;
    background-position: 75% center;
  }
}
.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #a5d6cd;
  opacity: 0.8;
}
.stats__title {
  position: relative;
  color: #fff;
  font-family: "Montserrat Black", sans-serif;
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: 0.764;
  max-width: 33.625rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  text-align: center;
}
@media screen and (max-width: 599px) {
  .stats__title {
    font-size: 3.125rem;
  }
}
@media screen and (max-width: 1438px) {
  .stats__title {
    margin: 0 auto 3rem;
  }
}
@media screen and (max-width: 599px) {
  .stats__title {
    max-width: 16.3125rem;
    font-size: 2.1875rem;
  }
}
.stats__title::after {
  content: url("../images/figures/stats-curl.png");
  position: absolute;
  top: -5.75rem;
  left: 1.5rem;
  z-index: 2;
}
@media screen and (max-width: 847px) {
  .stats__title::after {
    width: 33.3125rem;
    overflow: hidden;
  }
}
@media screen and (max-width: 599px) {
  .stats__title::after {
    content: url("../images/figures/stats-curl-small.png");
    top: -2.8125rem;
    left: 0.625rem;
    width: 18.6875rem;
    overflow: hidden;
  }
}
@media screen and (max-width: 359px) {
  .stats__title::after {
    width: 17.5rem;
  }
}
.stats__slider .swiper-container {
  width: 100%;
  height: 29.0625rem;
}
.stats__slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats__slider .swiper-slide .swiper-img {
  transform: scale(0.86);
  transition: all 0.3s;
}
@media screen and (max-width: 1079px) {
  .stats__slider .swiper-slide .swiper-img {
    transform: none;
  }
}
.stats__slider .swiper-slide.swiper-slide-next .swiper-img {
  transform: scale(1);
}
.stats__slider .swiper-img {
  max-width: 20rem;
  height: auto;
  object-fit: cover;
}
@media screen and (max-width: 479px) {
  .stats__slider .swiper-img {
    max-width: 12.375rem;
  }
}
.stats__slider .swiper-button-prev {
  left: 0;
}
.stats__slider .swiper-button-next {
  right: 0;
}

.team {
  padding: 1.125rem 0 0;
  text-align: center;
}
@media screen and (max-width: 599px) {
  .team {
    padding: 1.5rem 0 0;
  }
}
.team__inner {
  position: relative;
}
.team__inner::before, .team__inner::after {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.team__inner::before {
  content: url("../images/zoom-text-left.png");
  left: -2.5rem;
}
@media screen and (max-width: 1279px) {
  .team__inner::before {
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .team__inner::before {
    content: url("../images/zoom-text-left-small.png");
    left: -0.9375rem;
  }
}
.team__inner::after {
  content: url("../images/zoom-text-right.png");
  right: -2.5rem;
}
@media screen and (max-width: 1279px) {
  .team__inner::after {
    right: 0;
  }
}
@media screen and (max-width: 767px) {
  .team__inner::after {
    content: url("../images/zoom-text-right-small.png");
    right: -0.9375rem;
  }
}
.team__title {
  position: relative;
  display: inline-block;
  margin-bottom: 2.75rem;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 1.875rem;
}
@media screen and (max-width: 599px) {
  .team__title {
    font-size: 1.375rem;
  }
}
@media screen and (max-width: 413px) {
  .team__title {
    font-size: 1rem;
  }
}
.team__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.625rem;
  height: 0.125rem;
  width: 84%;
  background-color: #2d2b2b;
  transform: translate(-50%, 0);
}
.team__members {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0 6.25rem;
}
@media screen and (max-width: 1199px) {
  .team__members {
    padding: 0 2.5625rem;
  }
}
@media screen and (max-width: 767px) {
  .team__members {
    padding: 0 1.375rem;
  }
}
.team__member {
  flex: 1 1 25%;
  margin-bottom: 4.25rem;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
}
@media screen and (max-width: 961px) {
  .team__member {
    flex-basis: 33%;
    margin-bottom: 2.625rem;
  }
}
@media screen and (max-width: 767px) {
  .team__member {
    flex-basis: 50%;
    margin-bottom: 1rem;
  }
  .team__member:first-child, .team__member:last-child {
    flex-basis: 100%;
  }
  .team__member:first-child .team__member-photo {
    max-width: 9.625rem;
  }
}
@media screen and (max-width: 599px) {
  .team__member:first-child .team__member-photo {
    max-width: 7rem;
  }
}
.team__member:hover {
  opacity: 0.9;
}
.team__member-photo {
  display: inline-block;
  margin-bottom: 1.375rem;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .team__member-photo {
    max-width: 9.25rem;
    height: auto;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 599px) {
  .team__member-photo {
    max-width: 6.6875rem;
    margin-bottom: 0.75rem;
  }
}
.team__member-name {
  margin-bottom: 0.5rem;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 1.125rem;
}
@media screen and (max-width: 599px) {
  .team__member-name {
    margin-bottom: 0.125rem;
    font-size: 0.875rem;
  }
}
.team__member-position {
  font-family: "Montserrat Medium", sans-serif;
  font-size: 0.9375rem;
}
@media screen and (max-width: 599px) {
  .team__member-position {
    font-size: 0.75rem;
  }
}

.know-more {
  position: relative;
  padding: 2.125rem 0;
  background: url("../images/blocks/know-more/know-more-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .know-more {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 767px) {
  .know-more {
    padding: 1.6875rem 0;
    background-position-x: 81%;
  }
}
.know-more::before, .know-more::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2.125rem;
  background: #fff;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .know-more::before, .know-more::after {
    height: 1.6875rem;
  }
}
.know-more::before {
  top: 0;
}
.know-more::after {
  bottom: 0;
}
.know-more__form {
  position: relative;
  padding: 2.625rem 3.5rem 2.875rem;
  margin: -2.125rem 0rem;
  max-width: 26.125rem;
  color: #f5fbfb;
  background: #a5d6cd;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .know-more__form {
    margin: -1.6875rem auto;
  }
}
@media screen and (max-width: 599px) {
  .know-more__form {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
@media screen and (max-width: 359px) {
  .know-more__form {
    padding-left: 1.625rem;
    padding-right: 1.625rem;
  }
}
.know-more__form .form__title {
  display: inline-block;
  max-width: 13.625rem;
  margin-bottom: 0.5rem;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: uppercase;
}
@media screen and (max-width: 599px) {
  .know-more__form .form__title {
    font-size: 1.25rem;
  }
}
.know-more__form .form__subtitle {
  margin-bottom: 0.875rem;
  font-family: "Montserrat Medium", sans-serif;
  font-size: 1.125rem;
  line-height: 1.333;
}
@media screen and (max-width: 599px) {
  .know-more__form .form__subtitle {
    max-width: 80%;
    font-size: 1rem;
  }
}
@media screen and (max-width: 359px) {
  .know-more__form .form__subtitle {
    max-width: 100%;
  }
}
.know-more__form .form__form-group {
  position: relative;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 599px) {
  .know-more__form .form__form-group {
    margin-bottom: 1rem;
  }
}
.know-more__form .form__form-group--select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.5625rem;
  width: 0.5rem;
  height: 0.75rem;
  background: url("../images/figures/right-arrow.svg") no-repeat center;
  background-size: cover;
  transform: translate(0, -50%);
}
@media screen and (max-width: 599px) {
  .know-more__form .form__form-group--select::after {
    right: 1rem;
    width: 0.375rem;
    height: 0.625rem;
  }
}
.know-more__form .form__input, .know-more__form .form__select, .know-more__form .form__btn {
  width: 100%;
  padding: 0.6875rem 2.1875rem 0.6875rem 1.25rem;
  font-size: 1.125rem;
  line-height: 1.333;
  border: none;
  border-radius: 1.46875rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 599px) {
  .know-more__form .form__input, .know-more__form .form__select, .know-more__form .form__btn {
    padding: 0.5rem 1.625rem 0.5rem 1.25rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 359px) {
  .know-more__form .form__input, .know-more__form .form__select, .know-more__form .form__btn {
    font-size: 0.875rem;
  }
}
.know-more__form .form__input, .know-more__form .form__select {
  color: #86aca4;
  background: #fff;
  border: 1px solid transparent;
  outline: none;
  transition: border 0.2s ease-in-out;
}
.know-more__form .form__input.has-error, .know-more__form .form__select.has-error {
  border-color: #bd0000;
}
.know-more__form .form__input.has-error:focus, .know-more__form .form__select.has-error:focus {
  border: 1px solid #240000;
}
.know-more__form .form__input:focus, .know-more__form .form__select:focus {
  border: 1px solid #479b8c;
}
.know-more__form .form__input::placeholder, .know-more__form .form__select::placeholder {
  color: #86aca4;
}
.know-more__form .form__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.know-more__form .form__select option {
  width: 19.125rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
.know-more__form .form__select option:not(:first-of-type) {
  color: #000;
}
.know-more__form .checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 1.6875rem;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .know-more__form .checkbox {
    padding-left: 1rem;
  }
}
.know-more__form .checkbox__real {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  opacity: 0;
  appearance: none;
}
.know-more__form .checkbox__real.has-error + .checkbox__fake {
  border-color: #bd0000;
}
.know-more__form .checkbox__real:checked + .checkbox__fake:before {
  opacity: 1;
}
.know-more__form .checkbox__fake {
  position: relative;
  display: inline-block;
  flex: 0 0 1.25rem;
  height: 1.25rem;
  margin-right: 1.25rem;
  vertical-align: bottom;
  background: #f5fbfb;
  border: 1px solid transparent;
  transition: border 0.2s ease-in-out;
}
.know-more__form .checkbox__fake::before {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.125rem;
  width: 1.75rem;
  height: 1.375rem;
  background: url("../images/figures/check.svg") no-repeat center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.know-more__form .checkbox__title {
  line-height: 1.125rem;
}
@media screen and (max-width: 599px) {
  .know-more__form .checkbox__title {
    font-size: 0.875rem;
    line-height: 0.9375rem;
  }
}
.know-more__form .form__btn {
  padding: 0.6875rem 1.25rem;
  color: #f5fbfb;
  background-color: #86aca4;
  border: 1px solid #86aca4;
  transition: background-color 0.3s;
}
@media screen and (max-width: 599px) {
  .know-more__form .form__btn {
    padding: 0.5rem 1.25rem;
    font-size: 0.875rem;
  }
}
.know-more__form .form__btn:disabled {
  background: #95b6af;
  border: 1px solid #95b6af;
  pointer-events: none;
}
.know-more__form .form__btn:hover, .know-more__form .form__btn:focus {
  background-color: #3e5b55;
}

.contacts {
  position: relative;
  padding: 2.25rem 0 5.875rem;
  text-align: center;
  overflow: hidden;
}
@media screen and (max-width: 1199px) {
  .contacts {
    padding: 3.5rem 0 9.1875rem;
  }
}
@media screen and (max-width: 719px) {
  .contacts {
    padding: 1.25rem 0 1.5625rem;
  }
}
@media screen and (max-width: 599px) {
  .contacts {
    padding-top: 2.625rem;
  }
}
.contacts::before, .contacts::after {
  content: "";
  position: absolute;
  width: 15.75rem;
  height: 15.6875rem;
  background: url("../images/figures/heart.svg") no-repeat center;
  background-size: 100% 100%;
}
@media screen and (max-width: 1199px) {
  .contacts::before, .contacts::after {
    width: 8.5625rem;
    height: 8.5625rem;
  }
}
.contacts::before {
  top: 0;
  left: -5.375rem;
}
@media screen and (max-width: 1199px) {
  .contacts::before {
    top: 2.3125rem;
    left: -3.4375rem;
  }
}
@media screen and (max-width: 767px) {
  .contacts::before {
    top: 0;
  }
}
@media screen and (max-width: 767px) {
  .contacts::before {
    top: 2.3125rem;
  }
}
.contacts::after {
  right: -3.4375rem;
  bottom: 0.25rem;
}
@media screen and (max-width: 1199px) {
  .contacts::after {
    right: -2.25rem;
    bottom: 0.125rem;
  }
}
.contacts__title {
  position: relative;
  display: inline-block;
  margin-bottom: 4.375rem;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 1.875rem;
  line-height: 1.2;
}
@media screen and (max-width: 719px) {
  .contacts__title {
    margin-bottom: 2.125rem;
  }
}
@media screen and (max-width: 599px) {
  .contacts__title {
    font-size: 1.375rem;
  }
}
@media screen and (max-width: 413px) {
  .contacts__title {
    font-size: 1rem;
  }
}
.contacts__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.625rem;
  height: 0.125rem;
  width: 62%;
  background-color: #2d2b2b;
  transform: translate(-50%, 0);
}
.contacts__items {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 719px) {
  .contacts__items {
    flex-direction: column;
  }
}
.contacts__group {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (max-width: 719px) {
  .contacts__group {
    margin-bottom: 1.375rem;
  }
}
@media screen and (max-width: 719px) {
  .contacts__group:last-child {
    margin-bottom: 0rem;
  }
}
.contacts__group + .contacts__group {
  margin-left: 1.25rem;
}
@media screen and (max-width: 719px) {
  .contacts__group + .contacts__group {
    margin-left: 0;
  }
}
.contacts__group-title {
  margin-top: 1.375rem;
  color: #86aca4;
  font-family: "Caveat Bold", sans-serif;
  font-size: 1.875rem;
  line-height: 0.8;
}
@media screen and (max-width: 719px) {
  .contacts__group-title {
    margin-top: 0.625rem;
  }
}
.contacts__group-item {
  width: 2.875rem;
  height: 2.875rem;
}
@media screen and (max-width: 413px) {
  .contacts__group-item {
    width: 2.375rem;
    height: 2.375rem;
  }
}
.contacts__group-item + .contacts__group-item {
  margin-left: 3.4375rem;
}
@media screen and (max-width: 413px) {
  .contacts__group-item + .contacts__group-item {
    margin-left: 2.625rem;
  }
}
@media screen and (max-width: 339px) {
  .contacts__group-item + .contacts__group-item {
    margin-left: 2.125rem;
  }
}
.contacts__group-item svg feFlood {
  transition: flood-color 0.2s;
}
.contacts__group-item:hover svg feFlood, .contacts__group-item:focus svg feFlood {
  flood-color: #3e5b55;
}

.footer {
  position: relative;
  padding: 5rem 0 2.125rem;
  background-color: #b7ded7;
}
@media screen and (max-width: 961px) {
  .footer {
    padding: 3.25rem 0;
  }
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #86aca4;
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
}
@media screen and (max-width: 1365px) {
  .footer::before {
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
  }
}
@media screen and (max-width: 767px) {
  .footer::before {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  }
}
.footer__inner {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: #fff;
}
@media screen and (max-width: 961px) {
  .footer__inner {
    flex-direction: column;
  }
}
@media screen and (max-width: 599px) {
  .footer__info {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 413px) {
  .footer__info {
    font-size: 0.75rem;
  }
}
.footer__info--left {
  max-width: 22.125rem;
}
.footer__info--right {
  align-self: flex-end;
  max-width: 31.125rem;
  text-align: right;
}
.footer__paragraph, .footer__link, .footer__copyright {
  line-height: 1.875;
}

/*# sourceMappingURL=styles.css.map */
