.time-stats {
  margin: px-to-rem(40px) 0;
  background:
    linear-gradient(rgba(165, 214, 205, .8), rgba(165, 214, 205, .8)),
    url("../images/time-stats-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__title {
    max-width: px-to-rem(298px);
    margin-right: px-to-rem(105px);

    @include curly-header;

    &::after {
      content: url("../images/time-stats-curl.png");
      position: absolute;
      top: px-to-rem(-40px);
      left: px-to-rem(21px);

      z-index: 2;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    padding: px-to-rem(105px) 0;
  }

  &__item {
    max-width: px-to-rem(272px);

    &:nth-of-type(2) {
      margin-top: px-to-rem(124px);
    }
  }

  &__number {
    color: rgba(124, 161, 150, 0.8);
    font-family: "Montserrat Black", sans-serif;
    font-size: px-to-rem(72px);
  }

  &__text {
    color: #fff;
    font-family: "Montserrat Bold", sans-serif;
    font-size: px-to-rem(15px);

    &--top {
      transform: translate(px-to-rem(-25px), px-to-rem(26px));
    }

    &--bottom {
      transform: translate(px-to-rem(10px), px-to-rem(-26px));
    }
  }
}
