.advantages {
  padding: px-to-rem(24px) 0 px-to-rem(38px);

  text-align: center;

  @media screen and (max-width: 414px) {
    padding-top: px-to-rem(38px);
  }

  &__inner {
    position: relative;
    padding: 0 px-to-rem(91px);

    @include zoom-text-bg;

    @media screen and (max-width: 768px) {
      padding: 0 px-to-rem(36px);

      &::before {
        content: url("../images/zoom-text-left-small-3.png");
      }

      &::after {
        content: url("../images/zoom-text-right-small-3.png");
      }
    }
  }

  &__inner-top {
    margin-bottom: px-to-rem(54px);
  }

  &__title {
    position: relative;

    display: inline-block;
    margin-bottom: px-to-rem(45px);

    font-family: "Montserrat Bold", sans-serif;
    font-size: px-to-rem(30px);

    @media screen and (max-width: 600px) {
      margin-bottom: px-to-rem(25px);

      font-size: px-to-rem(20px);
    }

    @media screen and (max-width: 414px) {
      font-size: px-to-rem(16px);
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;

      height: px-to-rem(2px);
      width: 69%;

      background-color: $black;

      transform: translate(-50%, 0);
    }

    &--top::after {
      bottom: px-to-rem(-10px);
    }

    &--bottom::after {
      top: px-to-rem(-14px);
    }
  }

  &__instagram {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__instagram-img {
    max-width: 100%;
    height: auto;

    @media screen and (max-width: 1200px) {
      margin-bottom: px-to-rem(42px);
    }

    @media screen and (max-width: 768px) {
      max-width: px-to-rem(307px);
    }

    @media screen and (max-width: 600px) {
      max-width: px-to-rem(209px);
    }
  }

  &__instagram-list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: px-to-rem(10px);
    column-gap: px-to-rem(100px);

    @media screen and (max-width: 1200px) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__instagram-item {
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &:first-child {
      .inst-advantage__img {
        left: px-to-rem(36px);

        @media screen and (max-width: 768px) {
          left: px-to-rem(30px);
        }

        @media screen and (max-width: 480px) {
          left: px-to-rem(16px);
        }
      }
    }

    &:last-child {
      .inst-advantage__img {
        left: px-to-rem(56px);

        @media screen and (max-width: 768px) {
          left: px-to-rem(30px);
        }

        @media screen and (max-width: 480px) {
          left: px-to-rem(16px);
        }
      }
    }
  }

  &__instagram-item:nth-child(odd) {
    grid-row: 2;
  }

  &__instagram-item:nth-child(even) {
    grid-column: auto / span 2;

    .inst-advantage {
      margin: 0 auto;
    }
  }

  &__why-list {
    display: flex;
    justify-content: space-between;

    padding: 0 px-to-rem(32px);

    @media screen and (max-width: 1200px) {
      padding: 0;
    }

    @media screen and (max-width: 962px) {
      flex-direction: column;
    }
  }
}

.inst-advantage {
  max-width: px-to-rem(216px);

  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-around;

    max-width: initial;
  }

  @media screen and (max-width: 480px) {
    justify-content: space-between;
  }

  @media screen and (max-width: 359px) {
    flex-direction: column;
  }

  &__top {
    position: relative;

    text-align: left;

    @media screen and (max-width: 768px) {
      width: px-to-rem(150px);
    }

    @media screen and (max-width: 600px) {
      width: px-to-rem(70px);
    }
  }

  &__header {
    color: rgba(134, 172, 165, .5);

    font-family: "Montserrat Bold", sans-serif;
    font-size: px-to-rem(150px);
    line-height: 1;

    @media screen and (max-width: 600px) {
      font-size: px-to-rem(112px);
    }

    @media screen and (max-width: 480px) {
      font-size: px-to-rem(76px);
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: px-to-rem(62px);

    width: px-to-rem(92px);
    height: px-to-rem(92px);

    transform: translateY(-50%);

    @media screen and (max-width: 768px) {
      left: px-to-rem(30px);
    }

    @media screen and (max-width: 600px) {
      width: px-to-rem(70px);
      height: px-to-rem(70px);
    }

    @media screen and (max-width: 480px) {
      left: px-to-rem(16px);

      width: px-to-rem(49px);
      height: px-to-rem(49px);
    }
  }

  &__text {
    font-family: "Montserrat Medium", sans-serif;
    font-size: px-to-rem(15px);

    @media screen and (max-width: 768px) {
      max-width: px-to-rem(350px);
    }

    @media screen and (max-width: 600px) {
      max-width: px-to-rem(240px);
    }

    @media screen and (max-width: 480px) {
      max-width: px-to-rem(220px);
    }

    @media screen and (max-width: 414px) {
      max-width: px-to-rem(175px);

      font-size: px-to-rem(12px);
    }
  }
}

.why-item {
  position: relative;
  width: px-to-rem(200px);

  text-align: left;

  @media screen and (max-width: 962px) {
    width: 100%;
    margin-bottom: px-to-rem(16px);
  }

  &:nth-of-type(2),
  &:nth-of-type(3) {
    margin-top: px-to-rem(94px);

    @media screen and (max-width: 962px) {
      margin-top: 0;
    }
  }

  &:nth-of-type(2) {
    @media screen and (max-width: 962px) {
      order: 2;
    }
  }

  &:nth-of-type(3) {
    @media screen and (max-width: 962px) {
      order: 1;

      .why-item__img {
        right: 0;
        left: initial;
      }

      .why-item__text {
        margin-left: auto;

        text-align: right;
      }
    }
  }

  &:last-child {
    @media screen and (max-width: 962px) {
      order: 3;

      .why-item__img {
        right: 0;
        left: initial;
      }

      .why-item__text {
        margin-left: auto;

        text-align: right;
      }
    }
  }

  &.why-item--right {
    text-align: right;

    .why-item__img {
      right: 0;
      left: initial;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    max-width: 100%;

    z-index: -1;
  }

  &__text {
    padding-top: px-to-rem(80px);

    font-size: px-to-rem(15px);
    font-family: "Montserrat Medium", sans-serif;

    @media screen and (max-width: 962px) {
      max-width: px-to-rem(400px);
    }

    @media screen and (max-width: 600px) {
      max-width: px-to-rem(200px);
    }

    @media screen and (max-width: 414px) {
      font-size: px-to-rem(12px);
    }
  }

  &__number {
    font-family: "Montserrat Bold", sans-serif;
  }
}
