.contacts {
  position: relative;
  padding: px-to-rem(36px) 0 px-to-rem(94px);

  text-align: center;

  overflow: hidden;

  @media screen and (max-width: 1199px) {
    padding: px-to-rem(56px) 0 px-to-rem(147px);
  }

  @media screen and (max-width: 719px) {
    padding: px-to-rem(20px) 0 px-to-rem(25px);
  }

  @media screen and (max-width: 599px) {
    padding-top: px-to-rem(42px);
  }

  &::before, &::after {
    content: "";
    position: absolute;

    width: px-to-rem(252px);
    height: px-to-rem(251px);

    background: url("../images/figures/heart.svg") no-repeat center;
    background-size: 100% 100%;

    @media screen and (max-width: 1199px) {
      width: px-to-rem(137px);
      height: px-to-rem(137px);
    }
  }

  &::before {
    top: 0;
    left: px-to-rem(-86px);

    @media screen and (max-width: 1199px) {
      top: px-to-rem(37px);
      left: px-to-rem(-55px);
    }

    @media screen and (max-width: 767px) {
      top: 0;
    }

    @media screen and (max-width: 767px) {
      top: px-to-rem(37px);
    }
  }

  &::after {
    right: px-to-rem(-55px);
    bottom: px-to-rem(4px);

    @media screen and (max-width: 1199px) {
      right: px-to-rem(-36px);
      bottom: px-to-rem(2px);
    }
  }

  &__title {
    position: relative;
    display: inline-block;
    margin-bottom: px-to-rem(70px);

    font-family: "Montserrat Bold", sans-serif;
    font-size: px-to-rem(30px);
    line-height: 1.2;

    @media screen and (max-width: 719px) {
      margin-bottom: px-to-rem(34px);
    }

    @media screen and (max-width: 599px) {
      font-size: px-to-rem(22px);
    }

    @media screen and (max-width: 413px) {
      font-size: px-to-rem(16px);
    }

    &::after {
      content: "";
      position: absolute;

      left: 50%;
      bottom: px-to-rem(-10px);

      height: px-to-rem(2px);
      width: 62%;

      background-color: $black;

      transform: translate(-50%, 0);
    }
  }

  &__items {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 719px) {
      flex-direction: column;
    }
  }

  &__group {
    display: flex;
    flex-direction: column-reverse;

    @media screen and (max-width: 719px) {
      margin-bottom: px-to-rem(22px);
    }

    &:last-child {
      @media screen and (max-width: 719px) {
        margin-bottom: px-to-rem(0px);
      }
    }

    & + .contacts__group {
      margin-left: px-to-rem(20px);

      @media screen and (max-width: 719px) {
        margin-left: 0;
      }
    }
  }

  &__group-title {
    margin-top: px-to-rem(22px);

    color: $light-green;

    font-family: "Caveat Bold", sans-serif;
    font-size: px-to-rem(30px);
    line-height: 0.8;

    @media screen and (max-width: 719px) {
      margin-top: px-to-rem(10px);
    }
  }

  &__group-item {
    width: px-to-rem(46px);
    height: px-to-rem(46px);

    @media screen and (max-width: 413px) {
      width: px-to-rem(38px);
      height: px-to-rem(38px);
    }

    & + .contacts__group-item {
      margin-left: px-to-rem(55px);

      @media screen and (max-width: 413px) {
        margin-left: px-to-rem(42px);
      }

      @media screen and (max-width: 339px) {
        margin-left: px-to-rem(34px);
      }
    }

    svg feFlood {
      transition: flood-color .2s;
    }

    &:hover, &:focus {
      svg feFlood {
        flood-color: darken(rgb(134, 172, 164), 30%);
      }
    }
  }
}
