.examples {
  position: relative;
  padding: px-to-rem(26px) 0 px-to-rem(80px);

  background: url("../images/blocks/examples/examples-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  @media screen and (max-width: 1199px) {
    padding-top: px-to-rem(114px);
  }

  @media screen and (max-width: 1023px) {
    background-attachment: scroll;
  }

  @media screen and (max-width: 599px) {
    padding: px-to-rem(67px) 0 px-to-rem(62px);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;

    width: 68%;
    height: 100%;

    background: url("../images/blocks/examples/examples-bg-2.png") no-repeat center;
    background-size: 100% 100%;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1199px) {
      flex-direction: column;
    }

    @media screen and (max-width: 599px) {
      align-items: baseline;
    }
  }

  &__title {
    max-width: px-to-rem(432px);
    margin-left: px-to-rem(64px);

    @include curly-header;

    text-align: right;

    @media screen and (max-width: 1199px) {
      margin-bottom: px-to-rem(60px);
    }

    @media screen and (max-width: 767px) {
      margin-left: 0;
    }

    @media screen and (max-width: 599px) {
      max-width: px-to-rem(204px);
      margin-bottom: px-to-rem(30px);

      font-size: px-to-rem(35px);
    }

    &::after {
      content: url("../images/figures/examples-curl.png");
      position: absolute;
      top: px-to-rem(-105px);
      left: px-to-rem(-166px);

      z-index: 2;

      @media screen and (max-width: 599px) {
        content: url("../images/blocks/examples/figures/examples-curl-small.png");
        top: px-to-rem(-39px);
        left: px-to-rem(-25px);
      }

      @media screen and (max-width: 359px) {
        width: px-to-rem(320px);

        overflow: hidden;
      }
    }
  }

  &__title-word {
    display: inline-block;

    transform: translateX(px-to-rem(18px));

    @media screen and (max-width: 599px) {
      transform: none;
    }
  }

  &__slider {
    &.swiper-container {
      width: px-to-rem(500px);
      height: px-to-rem(583px);

      @media screen and (max-width: 599px) {
        width: px-to-rem(330px);
        height: px-to-rem(465px);
      }

      @media screen and (max-width: 413px) {
        width: 100%
      }
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;

      background: url("../images/blocks/examples/examples-img-wrapper.png") no-repeat center;

      @media screen and (max-width: 599px) {
        background-size: px-to-rem(233px) 100%;
      }
    }

    .swiper-image {
      max-width: px-to-rem(255px);
      height: auto;

      border-radius: px-to-rem(31px);

      object-fit: cover;

      @media screen and (max-width: 599px) {
        max-width: px-to-rem(204px);

        border-radius: px-to-rem(23px);
      }
    }
  }
}
