.header {
  background-color: #a3d3ca;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: px-to-rem(72px);

    @media screen and (max-width: 600px) {
      min-height: px-to-rem(52px);
    }
  }

  &__logo {
    display: block;
    width: px-to-rem(50px);
    height: px-to-rem(50px);

    @media screen and (max-width: 600px) {
      width: px-to-rem(40px);
      height: px-to-rem(40px);
    }
  }

  &__logo-img {
    @media screen and (max-width: 600px) {
      width: px-to-rem(40px);
      height: px-to-rem(40px);
    }
  }

  &__nav {
    flex-grow: 1;
    padding: 0 px-to-rem(24px);

    @media screen and (max-width: 1200px) {
      overflow-x: scroll;
      overflow-y: hidden;
    }

    @media screen and (max-width: 600px) {
      padding: 0 px-to-rem(12px);
    }
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    padding-right: px-to-rem(46px);

    @media screen and (max-width: 1200px) {
      width: 770px;
      padding: 0;
    }
  }

  &__nav-item {
    max-width: px-to-rem(100px);
    padding: 0 10px;

    font-size: px-to-rem(14px);
    text-align: center;

    @media screen and (max-width: 600px) {
      font-size: px-to-rem(12px);
    }
  }

  &__nav-link {
    &:hover {
      text-decoration: underline;
    }
  }

  &__feedback-btn {
    display: flex;
    align-items: center;

    padding: px-to-rem(4px) px-to-rem(6px);

    font-size: px-to-rem(14px);
    white-space: nowrap;

    background: #fff;
    border: 1px solid transparent;
    border-radius: px-to-rem(12px);
    box-shadow: 0 1px 2.97px 0.03px rgba(136, 172, 164, 0.004),
    inset 0 4px 8.46px 0.54px rgba(194, 240, 231, 0.68);

    transition: all .3s;

    @media screen and (max-width: 600px) {
      font-size: px-to-rem(12px);
    }

    &:hover, &:focus {
      border-color: #fff;
    }

    .btn__icon {
      margin-right: px-to-rem(4px);
    }
  }
}
