.know-more {
  position: relative;

  padding: px-to-rem(34px) 0;

  background: url("../images/know-more-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  z-index: 1;

  @media screen and (max-width: 1023px) {
    background-attachment: scroll;
  }

  @media screen and (max-width: 767px) {
    padding: px-to-rem(27px) 0;

    background-position-x: 81%;
  }

  &::before, &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: px-to-rem(34px);

    background: #fff;

    z-index: 2;

    @media screen and (max-width: 767px) {
      height: px-to-rem(27px);
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &__form {
    position: relative;
    padding: px-to-rem(42px) px-to-rem(56px) px-to-rem(46px);
    margin: px-to-rem(-34px) px-to-rem(0px);
    max-width: px-to-rem(418px);

    color: #f5fbfb;

    background: #a5d6cd;

    z-index: 3;

    @media screen and (max-width: 767px) {
      margin: px-to-rem(-27px) auto;
    }

    @media screen and (max-width: 599px) {
      padding-left: px-to-rem(28px);
      padding-right: px-to-rem(28px);
    }

    @media screen and (max-width: 359px) {
      padding-left: px-to-rem(26px);
      padding-right: px-to-rem(26px);
    }

    .form__title {
      display: inline-block;
      max-width: px-to-rem(218px);
      margin-bottom: px-to-rem(8px);

      font-family: "Montserrat SemiBold", sans-serif;
      font-size: px-to-rem(24px);
      line-height: 1.5;
      text-transform: uppercase;

      @media screen and (max-width: 599px) {
        font-size: px-to-rem(20px);
      }
    }

    .form__subtitle {
      margin-bottom: px-to-rem(14px);

      font-family: "Montserrat Medium", sans-serif;
      font-size: px-to-rem(18px);
      line-height: 1.333;

      @media screen and (max-width: 599px) {
        max-width: 80%;

        font-size: px-to-rem(16px);
      }

      @media screen and (max-width: 359px) {
        max-width: 100%;
      }
    }

    .form__form-group {
      position: relative;

      margin-bottom: px-to-rem(24px);

      @media screen and (max-width: 599px) {
        margin-bottom: px-to-rem(16px);
      }

      &--select {
        //position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: px-to-rem(25px);

          width: px-to-rem(8px);
          height: px-to-rem(12px);

          background: url("../images/figures/right-arrow.svg") no-repeat center;
          background-size: cover;

          transform: translate(0, -50%);

          @media screen and (max-width: 599px) {
            right: px-to-rem(16px);

            width: px-to-rem(6px);
            height: px-to-rem(10px);
          }
        }
      }
    }

    .form__input, .form__select, .form__btn {
      width: 100%;
      padding: px-to-rem(11px) px-to-rem(35px) px-to-rem(11px) px-to-rem(20px);

      font-size: px-to-rem(18px);
      line-height: 1.333;

      border: none;
      border-radius: px-to-rem(23.5px);

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      @media screen and (max-width: 599px) {
        padding: px-to-rem(8px) px-to-rem(26px) px-to-rem(8px) px-to-rem(20px);

        font-size: px-to-rem(16px);
      }

      @media screen and (max-width: 359px) {
        font-size: px-to-rem(14px);
      }
    }

    .form__input, .form__select {
      color: $light-green;

      background: #fff;
      border: 1px solid transparent;
      outline: none;

      transition: border .2s ease-in-out;

      &:focus {
        border: 1px solid darken(#a5d6cd, 30%);
      }

      &::placeholder {
        color: $light-green;
      }
    }

    .form__select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;

      option {
        width: px-to-rem(306px);

        text-overflow: ellipsis;
        overflow: hidden;

        &:not(:first-of-type) {
          color: #000;
        }
      }
    }

    .checkbox {
      display: flex;
      align-items: center;
      position: relative;
      padding-left: px-to-rem(27px);

      cursor: pointer;

      @media screen and (max-width: 599px) {
        padding-left: px-to-rem(16px);
      }

      &__real {
        position: absolute;
        width: px-to-rem(1px);
        height: px-to-rem(1px);
        opacity: 0;
        appearance: none;

        &:checked + .checkbox__fake:before {
          opacity: 1;
        }
      }

      &__fake {
        position: relative;
        display: inline-block;
        flex: 0 0 px-to-rem(20px);
        height: px-to-rem(20px);
        margin-right: px-to-rem(20px);

        vertical-align: bottom;

        background: #f5fbfb;
        border: none;

        &::before {
          content: "";
          position: absolute;
          top: px-to-rem(-4px);
          left: px-to-rem(-2px);

          width: px-to-rem(28px);
          height: px-to-rem(22px);

          background: url("../images/check.svg") no-repeat center;

          opacity: 0;
          transition: opacity .2s ease-in-out;
        }
      }

      &__title {
        line-height: px-to-rem(18px);

        @media screen and (max-width: 599px) {
          font-size: px-to-rem(14px);
          line-height: px-to-rem(15px);
        }
      }
    }

    .form__btn {
      padding: px-to-rem(11px) px-to-rem(20px);

      color: #f5fbfb;

      background-color: $light-green;
      border: 1px solid $light-green;

      transition: background-color .3s;

      @media screen and (max-width: 599px) {
        padding: px-to-rem(8px) px-to-rem(20px);

        font-size: px-to-rem(14px);
      }

      &:disabled {
        background: lighten($light-green, 5%);
        border: 1px solid lighten($light-green, 5%);
        pointer-events: none;

        color: darken(#ff0000, 30%);
      }

      &:hover, &:focus {
        background-color: darken($light-green, 30%);
      }
    }
  }
}
