.thanks {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: #b7ded7;

  &__content {
    text-align: center;
  }

  &__title {
    margin-bottom: px-to-rem(50px);

    font-family: "Caveat Bold", sans-serif;
    font-size: px-to-rem(144px);

    @media screen and (max-width: 599px) {
      margin-bottom: px-to-rem(32px);

      font-size: px-to-rem(96px);
    }
  }

  &__link {
    font-size: px-to-rem(30px);

    @media screen and (max-width: 599px) {
      font-size: px-to-rem(22px);
    }

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
