.time-stats {
  background:
    linear-gradient(rgba(165, 214, 205, .8), rgba(165, 214, 205, .8)),
    url("../images/time-stats-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  @media screen and (max-width: 1023px) {
    background-attachment: scroll;
  }

  @media screen and (max-width: 767px) {
    padding: px-to-rem(64px) 0;
  }

  &__inner {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1199px) {
      justify-content: space-around;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__title {
    max-width: px-to-rem(298px);
    margin-right: px-to-rem(105px);

    @include curly-header;

    @media screen and (max-width: 767px) {
      margin-right: 0;
      margin-bottom: px-to-rem(48px);
    }

    @media screen and (max-width: 339px) {
      transform: translateX(-10px);
    }

    &::after {
      content: url("../images/figures/time-stats-curl.png");
      position: absolute;
      top: px-to-rem(-40px);
      left: px-to-rem(21px);

      z-index: 2;

      @media screen and (max-width: 599px) {
        content: url("../images/figures/time-stats-curl-small.png");
        top: px-to-rem(-27px);
        left: px-to-rem(14px);

        overflow: hidden;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    padding: px-to-rem(105px) 0;

    @media screen and (max-width: 1199px) {
      flex-direction: column;
      padding: px-to-rem(55px) 0;
    }

    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }

  &__item {
    max-width: px-to-rem(272px);

    @media screen and (max-width: 359px) {
      max-width: px-to-rem(248px);
    }

    &:first-child {
      .time-stats__text--bottom {
        max-width: px-to-rem(182px);

        transform: translate(px-to-rem(10px), px-to-rem(-26px));

        @media screen and (max-width: 1199px) {
          transform: translate(px-to-rem(-46px), px-to-rem(-26px));
        }

        @media screen and (max-width: 359px) {
          transform: translate(px-to-rem(-22px), px-to-rem(-26px));
        }
      }
    }

    &:nth-of-type(2) {
      margin-top: px-to-rem(124px);

      .time-stats__text--bottom {
        transform: translate(px-to-rem(-10px), px-to-rem(-26px));

        @media screen and (max-width: 359px) {
          transform: translate(px-to-rem(8px), px-to-rem(-26px));
        }
      }

      @media screen and (max-width: 1199px)  {
        margin-top: 0;
        transform: translateX(22px);
      }
    }

    &:last-child {
      .time-stats__text--bottom {
        max-width: px-to-rem(150px);

        transform: translate(px-to-rem(-46px), px-to-rem(-26px));

        @media screen and (max-width: 359px) {
          transform: translate(px-to-rem(-24px), px-to-rem(-26px));
        }
      }
    }
  }

  &__number {
    color: rgba(124, 161, 150, 0.8);
    font-family: "Montserrat Black", sans-serif;
    font-size: px-to-rem(72px);
  }

  &__text {
    color: #fff;
    font-family: "Montserrat Bold", sans-serif;
    font-size: px-to-rem(15px);

    &--top {
      transform: translate(px-to-rem(-25px), px-to-rem(26px));
    }

    &--bottom {
      margin-left: auto;

      text-align: right;
    }
  }
}
